<div class="col-md-6 col-md-offset-3">
    
    <h1>Hi {{currentUser.firstName}}!</h1>
    
    
</div>
<div class="col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title">Project Manager Election Statistics</h4>
            <p class="category">Top 3 successful candidates</p>
        </div>
        <div class="content">
            <div class="ct-chart ct-perfect-fourth" id="chartPreferences"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-pie" style="width: 100%; height: 100%;"><g class="ct-series ct-series-c"><path d="M175.5,5A117.5,117.5,0,0,0,131.864,13.403L175.5,122.5Z" class="ct-slice-pie" ct:value="6"></path></g><g class="ct-series ct-series-b"><path d="M132.245,13.251A117.5,117.5,0,0,0,95.365,208.434L175.5,122.5Z" class="ct-slice-pie" ct:value="32"></path></g><g class="ct-series ct-series-a"><path d="M95.066,208.154A117.5,117.5,0,1,0,175.5,5L175.5,122.5Z" class="ct-slice-pie" ct:value="62"></path></g><g><text dx="230.12436854593477" dy="144.12731747022482" text-anchor="middle" class="ct-label">42%</text><text dx="117.79062401968952" dy="111.49134776808874" text-anchor="middle" class="ct-label">22%</text><text dx="164.49134776808862" dy="64.79062401968955" text-anchor="middle" class="ct-label">10%</text></g></svg></div>
            <div class="chart-legend">
                       <div *ngFor='let user of users; trackBy: index;'>  <i class="fa fa-circle text-info"> </i>{{user.name}} {{user.surname}}   </div>
                   
                    
                <!-- <i class="fa fa-circle text-info"></i> Berkay Yılmaz
                <i class="fa fa-circle text-danger"></i> İlkay Depe	
                <i class="fa fa-circle text-warning"></i> Can Utku -->
            </div>
            <hr>
            <div class="stats">
<i class="ti-timer">Election sent 2 days ago</i> 
            </div>
            
        </div>
        <div class="footer">
            
          <div *ngFor='let candidateelections of candidateelections; trackBy: index;'>{{candidateelections.name}}</div>
        </div>
    </div>
</div>