


<body ng-controller="MainCtrl">
    <i title="Up Votes" ng-click="changeVote(vote, 'up')" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
    <br>
    <i title="Down Votes" ng-click="changeVote(vote, 'down')" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i>
    <br>Vote: {{vote}}

<div>

    <h3 FONT="TIMES ROMAN" FONT-COLOR="BLUE"> SELECT an Candidate:</h3>

    <select>

        <option value=""></option>
        <option value="cendidate-1">cendidate-1</option>
        <option value="cendidate-2">cendidate-2</option>
    </select>
    <br>

    <input class="SubmitButton" type="submit" name="SUBMITBUTTON" value="Submit" style="font-size:20px; " />
</div>