
<div class="sidebar-wrapper">
    
    <ul class="nav">
            <li *ngIf="isNotMobileMenu()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-panel"></i>
					<p>Stats</p>
                </a>
            </li>
            <li class="dropdown" *ngIf="isNotMobileMenu()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <p class="notification">5</p>
    					<p>Notifications</p>
    					<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Welcome to E-lection</a></li>
                    <li><a href="#">Look at possible elections in your area</a></li>
                    <li><a href="#">School E-lection results</a></li>
                    <li><a href="#">Regional elections coming up soon</a></li>
                    <li><a href="#">More notifications</a></li>
                  </ul>
            </li>
            <li *ngIf="isNotMobileMenu()">
                <a href="#">
					<i class="ti-settings"></i>
					<p>Settings</p>
                </a>
            </li>
            <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
