<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="">

<form>
  Pick a candidate:
  <input type="radio" ng-model="myVar" value="Bottle John">Bottle John
  <input type="radio" ng-model="myVar" value="Asan lkio">Asan lkio
  <input type="radio" ng-model="myVar" value="Bilal Kofr">Bilal Kofr
  <input type="radio" ng-model="myVar" value="Mary Light">Mary Light

</form>



<button onclick="submitButton()">Submit</button>

<script>

function submitButton() {
     alert("You have successfully voted!");
     }
</script>

</body>
</html>
