<form>
        Pick a candidate:
        <input type="radio" ng-model="myVar" value="Bottle John">Bottle John
        <input type="radio" ng-model="myVar" value="Asan lkio">Asan lkio
        <input type="radio" ng-model="myVar" value="Bilal Kofr">Bilal Kofr
        <input type="radio" ng-model="myVar" value="Mary Light">Mary Light
      
      </form>
      <button onclick="submitButton()">Submit</button>

  <script>
  
  function submitButton() {
       alert("You have successfully voted!");
       }
  </script>

      <!-- <div ng-switch="myVar">
            <div ng-switch-when="Bottle John">
               <h3>Bottle John</h3>
               <p></p>
            </div>
            <div ng-switch-when="Asan lkio">
               <h3>Asan lkio</h3>
               <p></p>
            </div>
            <div ng-switch-when="Bilal Kofr">
               <h3>Bilal Kofr</h3>
               <p></p>
            </div>
            <div ng-switch-when="Mary Light">
               <h3>Mary Light</h3>
               <p></p>
            </div>
          </div> -->